$default-font: 'Ubuntu';

$default-font-size: 1.3em;

$title-md-font-size: 1.1em;
$title-lg-font-size: 1.5em;

$normal-font-size: 1em;
$text-md-font-size: 0.8em;
$text-lg-font-size: 1.2em;

$small-font-size: 0.6em;