header {
    background-image: url('../resources/pictures/coffeBanner.png');
    height: 30vh;

    .header-titles {
        height: 75%;
    }

    .colin-portrait {
        border-radius: 50%;
    }

    .portrait-box {
        height: 75%;
    }
}