#review-list {
    overflow: hidden;

    aside {
        width: 100vw;
        max-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 1;
        position: absolute;
        background-color: $white;
        top: 0;
        right: 0;
        margin: 0 -100vw 0 0;
        transition: all 200ms ease-in;
        min-height: 100%;
       
        @include media-breakpoint-up(md) {
            margin: 0 -75vw 0 0;
            width: 75vw;
            max-height: 35vh;
        }

        @include media-breakpoint-up(xl) {
            margin: 0 -83.2vw 0 0;
            width: 83.2vw;
            max-height: 45vh;
        }

        h2 {
            font-size: $title-md-font-size;
        }

        p {
            font-size: $text-md-font-size;
        }

        .review-title {
            border: 1px solid $light-grey;
            padding: 20px;
            padding-bottom: 10px;
            margin-top: 20vw;
            margin-bottom: 3.75vw;
            margin-left: 7.55vw;

            @include media-breakpoint-up(sm) {
                margin-top: 15vw;
            }

            @include media-breakpoint-up(md) {
                margin-left: 5.7vw;
                margin-top: 7vw;
                margin-bottom: 1.9vw;
            }

            @include media-breakpoint-up(xl) {
                margin-left: 0vw;
            }

            h2 {
                color: $light-green;
            }
        }

        .placeholder {
            padding: 20px;
            padding-bottom: 10px;
            margin-top: 20vw;
            border: 1px solid $light-grey;

            @include media-breakpoint-up(sm) {
                margin-top: 15vw;
            }

            @include media-breakpoint-up(md) {
                margin-top: 7vw;
            }
        }

        .review {
            border: 1px solid $light-grey;
            padding: 20px;
            padding-bottom: 10px;
            margin-top: 3.75vw;
            margin-bottom: 3.75vw;
            margin-left: 7.55vw;

            @include media-breakpoint-up(md) {
                margin-left: 5.66vw;
                margin-top: 2.83vw;
                margin-bottom: 2.83vw;
            }

            @include media-breakpoint-up(lg) {
                margin-left: 3.8vw;
                margin-top: 1.9vw;
                margin-bottom: 1.9vw;
            }

            figcaption {
              font-size: $small-font-size;

              @include media-breakpoint-up(md) {
                font-size: $text-md-font-size;
              }
            }
    
            .rating-zone {
                margin-top: 1vh;

                @include media-breakpoint-up(md) {
                    margin-top: -3vh;
                }
            }

            p {
                border-top: 1px solid $light-green;
                padding-top: 2vh;
            }

            h2 {
                color: $light-green;
            }
        }

        .closing-button {
            position: absolute;
            right: 32.6vw;
            top: 2vh;
            z-index: 5;

            @include media-breakpoint-up(md) {
                top: 6.5vh;
            }

            @include media-breakpoint-up(md) {
                top: 2vh;
                right: 6.16vw;
            }
        }
    }
}

#review-list:target {
    aside {
        margin: 0;
    }
}

.open-review {
    transition: all 200ms ease-in;
    z-index: 0;
}