.intro-section, .projects-section {
    background-color: $light-blue;
}

.skills-section {
    background-color: $dark-blue
}

.intro-section {
    height: 60vh;
}

.projects-section, .skills-section {
    height: 100vh;
}