.intro-section {
    background-color: $light-blue;
    height: 70vh;

    .intro-text {
        margin-top: 8vh;
    }
}

.skills-section {
    height: 100vh;
    background-color: $dark-blue;

    .skills {
        margin-top: 8vh;
    }
}

.projects-section {
    background-color: $light-blue;
    height: 100vh;

    .projects {
        margin-top: 8vh;
    }
}