.intro-section {
    background-color: $light-blue;
    height: 70vh;

    .intro-text {
        margin-top: 8vh;
    }
}

.skills-section {
    height: 100vh;
    background-color: $dark-blue;

    .skill-row {
        margin-top: 10vh;
    }

    .skill-box {
        img {
            -webkit-transition: -webkit-transform 2.00s ease-in-out;
                    transition:         transform 2.00s ease-in-out;
        }
    }

    .skill-box:hover {
        img {
            -webkit-transform: rotateY(360deg);
                    transform: rotatY(360deg);
        }
    }

    .skills {
        margin-top: 8vh;
    }
}

.projects-section {
    background-color: $light-blue;
    height: 100vh;

    .projects {
        margin-top: 8vh;
    }
}

h3 {
    font-size: 2.5em;
}
